body {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;

}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.header {
  background-image: url("http://i.imgur.com/6seCpZr.png");
  font-size: 18px;
  color: white;
}

.header a {
    color: inherit;
    text-decoration: underline;
    display: block;
    line-height:30px;

}

.midbanner {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("http://i.imgur.com/6seCpZr.png");
}

.footer {
  background-color: dimgray;
  text-align: left;
  color: white;
}

.footer a {
  font-size: 11px;
  background-color: dimgray;
  color: inherit;
  text-decoration: underline;
}

#exception {
  text-decoration: none;
}
